<!--BLUE BANNER-->
<div id="blue-banner" class="banner">
    <!-- <a href= {{#unless isLoggedIn}}"/sign-up" {{else}} "javascript:void(0)" {{/unless}}>   -->
    <a href="javascript:void(0)"></a>
        <span>From vanilla to vivid, </span><span class="yellowtext"> Discover the best treats with us.</span>
    </a>
</div>