<!--YELLOW BANNER-->
<div id="yellow-banner" class="banner">
    <a href="javascript:void(0)">
    <span>From vanilla to vivid, </span><span class="bluetext"> Discover the best treats with us.</span>
    </a>
</div>
